extends layout

block content
    if error
        h1 ERROR
        p= error.Error
        p= error.code
        p= error.errno
        p= error.syscal
    
     if manualModule
      div.row
        div.col-lg-12
          h1.page-header= title
           
      div.row
        div.col-lg-9
          div.panel.panel-default 
            div.panel-heading
              i.fa.fa-clock-o.fa-fw
              | Next Task on this Module
            div.panel-body
              ul.timeline
                //- Wait for Execute
                li.timeline-inverted
                  div.timeline-badge(id=manualModule.Execute.containerId+'badge')
                    i.fa.fa-cog.fa-spin(id=manualModule.Execute.containerId+'icon')
                  div.timeline-panel
                    div.timeline-heading
                      h4.timeline-title
                        span.text-muted(id=manualModule.Execute.containerId+'text') Waiting to get a task. 
                      script.
                        function executeIsTrue(){
                            $("##{manualModule.Execute.containerId}icon").removeClass('fa-cog fa-spin'); 
                            $("##{manualModule.Execute.containerId}icon").addClass('fa-check');
                            $("##{manualModule.Execute.containerId}badge").addClass('success');
                            $("##{manualModule.Execute.containerId}text").html('Task received.');
                          }
                        socket.on("#{manualModule.Execute.updateEvent}", function(data){ 
                          if(data === true){
                            executeIsTrue();                            
                          }
                        });
                        if(#{manualModule.Execute.value} === true){
                          console.log('mmExecute.value true');
                          executeIsTrue();
                        }
                              
                //- Start Button
                li.timeline-inverted
                  div.timeline-badge(id=manualModule.Busy.containerId+'badge', onclick="socket.emit('userIsBusy', {nodeId: '#{manualModule.Busy.nodeId}', value: true});", style="cursor: pointer")
                    i.fa.fa-play
                  div.timeline-panel
                    div.timeline-heading
                      h4.timeline-title
                        span.text-muted(id=manualModule.Busy.containerId+'text') Press when you are ready to start working.
                      script.
                        function busyIsTrue(){
                          $("##{manualModule.Busy.containerId}icon").addClass('fa-check');
                          $("##{manualModule.Busy.containerId}badge").addClass('success');
                          $("##{manualModule.Busy.containerId}text").html('Started...');
                        }
                        socket.on("#{manualModule.Busy.updateEvent}", function(data){ 
                          if(data === true){
                            busyIsTrue();
                          }
                        });
                        if(#{manualModule.Busy.value}===true){ 
                          console.log('mmBusy.value true');
                          busyIsTrue();
                        }
                if manualModule.Parameter[2].StringValue.value
                  li
                    div.timeline-badge
                      i.fa.fa-fire-extinguisher
                    div.timeline-panel
                      div.timeline-heading
                        h4.timeline-title= manualModule.Parameter[0].StringValue.value
                      div.timeline-body
                        p= manualModule.Parameter[2].StringValue.value
            
                li.timeline-inverted
                  div.timeline-badge(id=manualModule.Done.containerId+'badge', onclick="socket.emit('userIsDone', {value: true});", style="cursor: pointer")
                    i.fa.fa-stop
                  div.timeline-panel
                    div.timeline-heading
                      h4.timeline-title
                       span.text-muted(id=manualModule.Done.containerId+'text') Press when you finished the task.
                      script.
                       var userFullyFinished = 0; // global in DOM space? yes.
                       function doneIsTrue(){
                         $("##{manualModule.Done.containerId}badge").addClass('success');
                         $("##{manualModule.Done.containerId}text").html('Done.');                         
                       }
                       socket.on("#{manualModule.Done.updateEvent}", function(data){ 
                         if(data === true){
                           doneIsTrue();                           
                         }
                       });
                       if(#{manualModule.Done.value}===true){ 
                         console.log('mmDone.value true');
                         doneIsTrue();
                       }
                       
              script.
               socket.on("reloadPageManual", function(data){
                console.log('Page Reload...');
                window.location.replace("/manual"); 
               });
        
        //- MessageFeed
        //- div.col-lg-3
          //- +messageFeed-panel()
    else
        div.col-xs-12.well       
            p no handModule data to display
    
    