extends layout

block content
    if error
        h1 ERROR
        p= error.Error
        p= error.code
        p= error.errno
        p= error.syscal
    
     if manualModule
      div.row
        div.col-lg-12
          h1.page-header= manualModule.SkillDescription.value
           
      div.row
        div.col-lg-12
          div.panel.panel-default 
            div.panel-heading
              i.fa.fa-clock-o.fa-fw
              | Next Task on this Module
            div.panel-body
              ul.timeline
                //- Wait for Execute
                li.timeline
                  div.timeline-badge
                    i.fa.fa-cog.fa-spin
                  div.timeline-panel
                    div.timeline-heading
                      h4.timeline-title(id=manualModule.Execute.containerId) Waiting...   
                      script socket.on("#{manualModule.Execute.updateEvent}", function(data){ if(data===true){ $("##{manualModule.Execute.containerId}").html(data); } })
                              
                //- Start Button
                li.timeline-inverted
                  div.timeline-badge(onclick="socket.emit('#{manualModule.Busy.submitEvent}', {nodeId: '#{manualModule.Busy.nodeId}', value: true});", style="cursor: pointer")
                    | start
                  div.timeline-panel
                    div.timeline-heading
                      h4.timeline-title Press on Start to accept the Task
                
                for parameter in manualModule.Parameter
                    if parameter.Name.value != ''
                     li
                      div.timeline-badge
                        | #{parameter.ID.value}
                      div.timeline-panel
                        div.timeline-heading
                          h4.timeline-title= parameter.Name.value
                        div.timeline-body
                          p #{parameter.Value.value} #{parameter.Unit.value}
                
                li.timeline-inverted
                  div.timeline-badge
                    | end
                  div.timeline-panel
                    div.timeline-heading
                      h4.timeline-title Press left, if you are finished

     
     if manualModule
          div.col-xs-12.well
           h2.text-muted Manual Module 
           ul
            - console.log(manualModule);
            for mm in manualModule
             li #{mm.nodeId} : 
               span(id=mm.containerId) #{mm.value}
              
           //- Add socket-listener update events
           for mm in manualModule
              // script socket.on('#{mm.updateEvent}', function(data){ console.log(data); $("##{mm.containerId}").html(data.value.value); });
           
           button.btn.btn-primary.btn-lg(type='button',onclick="socket.emit('#{manualModule.Busy.submitEvent}', 1);") Start! (busy=true)
     else
        div.col-xs-12.well       
            p no handModule data to display
    
    