extends layout

block content
  if error
    div.row
      div.col-lg-12
        h1 ERROR
        p= error.Error
        p= error.code
        p= error.errno
        p= error.syscal
  
  div.row
    h2 Tasks
    div.col-lg-8
      div.panel.panel-default 
        div.panel-heading
          i.fa.fa-clock-o.fa-fw
          | All Tasks in a Timeline
          +feedbackButton("tasks")

        div.panel-body
          ul.timeline
            if tasks
              for task in tasks
                li
                  div.timeline-badge
                    | #{task.TaskID.value}
                  div.timeline-panel
                    div.row
                      div.col-lg-6
                        div.timeline-heading
                          h4.timeline-title= task.Name.value
                          p
                            small.text-muted
                              i.fa.fa-clock-o
                              |&nbsp;#{task.Timestamp.value}
                        div.timeline-body
                                    p RecipeID: #{task.RecipeID.value}
                      div.col-lg-6
                          img(src="/assets/images/recipes/recipe"+task.RecipeID.value+"/cocktail.jpg" style="border-radius: 100%; height:100%; width:100%")
                                
            else
                li
                  div.timeline-badge
                    i.fa.fa-circle-o
                  div.timeline-panel
                    div.timeline-heading
                      h4.timeline-title No Task
                    div.timeline-body
                      p There are no tasks in the Production List
    
