extends layout

block content
    if error
        h1 ERROR
        p= error.Error
        p= error.code
        p= error.errno
        p= error.syscal
    
     if manualModule
          div.col-xs-12.well
           h2.text-muted Manual Module - subscribed Values
           for mm in manualModule
              p(id=mm.containerId)= mm.value
              
           //- Add socket-listener update events
           for mm in manualModule
              script socket.on('#{mm.updateEvent}', function(data){ console.log(data); $("##{mm.containerId}").html(data.value.value); });
           
           button.btn.btn-primary.btn-lg(type='button',onclick="socket.emit('#{manualModule.Busy.submitEvent}', 1);") Start! (busy=true)
     else
        div.col-xs-12.well       
            p no handModule data to display
    
    