// Progressbar using Bootstrap Components
mixin progressbar(value)
 div.progress(style='height: 100%')
  div.progress-bar.progress-bar-success(role='progressbar',aria-valuenow='#{value}',aria-valuemin='0',aria-valuemax='100',style='width:#{value}%')
   | #{value}%

// Read/Write Submit
mixin readWriteSubmitbla(readId, writeId)
    form.form-inline(role=form)
        div.form-group.has-success.has-feedback
            label.control-label.col-sm-3(for=readId) test
                div.col-sm-9
                    input.form-control(type="text", id=readId) 
                    span.glyphicon.glyphicon-ok.form-control-feedback
                    input(type="text", id=writeId)
//    <label class="control-label" for="inputSuccess4">Input with success</label>
//    <input type="text" class="form-control" id="inputSuccess4">


mixin nameReadWriteKeyup(name, readId, readEventName, writeId, submitEventName)
 form.form-horizontal(role="form")
  div.form-group.has-feedback
   label.control-label.col-xs-4.col-sm-3(for=readId)  #{name}
   div.col-xs-8.col-sm-3
    input.form-control(id=readId, type="text", disabled)
    span.glyphicon.glyphicon-eye-open.form-control-feedback
   div.col-xs-12.col-sm-3
    input.form-control(id=writeId, type="text", onKeyUp="socket.emit('"+submitEventName+"', {value: $('#"+writeId+"').val()})")
    span.glyphicon.glyphicon-pencil.form-control-feedback
    script socket.on('#{readEventName}', function(data){ $('##{readId}').val(data.value); });
    
mixin readWriteKeyup(readId, readEventName, writeId, submitEventName)
 form.form-horizontal(role="form")
  div.form-group.has-feedback
   div.col-sm-6
    input.form-control(id=readId, type="text", disabled)
    span.glyphicon.glyphicon-eye-open.form-control-feedback
   div.col-sm-6
    input.form-control(id=writeId, type="text", onKeyUp="socket.emit('"+submitEventName+"', {value: $('#"+writeId+"').val()})")
    span.glyphicon.glyphicon-pencil.form-control-feedback
    script socket.on('#{readEventName}', function(data){ $('##{readId}').val(data.value); });

// Input Field
mixin field(type, name, label)
  .field(class='field-' + type)
    label #{label}:
    input(type=type, name='user[#{name}]', value=user[name])
    

// Read
mixin read(name, readId, eventName)
    form.form-horizontal(role="form")
        div.form-group.has-feedback
            label.control-label.col-sm-4.col-xs-2(for=readId)  #{name}
            div.col-sm-5.col-xs-8
                input.form-control(id=readId, type="text", disabled)
                span.glyphicon.glyphicon-eye-open.form-control-feedback
            div.col-sm-3.col-xs-2.text-left
                button.btn.btn-default(type="button", onclick="socket.emit('"+eventName+"')")
                    span.glyphicon.glyphicon-refresh
                    
mixin moduleView(moduleData)
   div.col-xs-12
     h3 Module: #{moduleData.name}
     div.container-fluid
        for skill in moduleData.skills
            div.row.well
                +skillView(skill)
        else
            div.row.well
                p There are no skills for this Module.
        
        
        
mixin skillView(skill) 
      div.row
        div.col-xs-8
            h4 
             b Skill: 
             i= skill.name
        div.col-xs-4
            h4 
             b ID: 
             span= skill.skillid
      div.row
       div.col-xs-12
        div.col-xs-3.text-center.alert.alert-info
            p Ready:
            span.glyphicon.glyphicon-asterisk
        div.col-xs-3.text-center.alert.alert-info
            p Busy:
            span.glyphicon.glyphicon-forward
        div.col-xs-3.text-center.alert.alert-success
            p Done:
            span.glyphicon.glyphicon-ok-sign
        div.col-xs-3.text-center.alert
            p Error:
            span.glyphicon.glyphicon-ban-circle
      div.row
        //div.panel.panel-default
        //    div.panel-heading Parameterlist
        //div.col-xs-12
        div.col-xs-12
         div.panel-group#parameterlist(style="padding: 0px")
            div.panel.panel-default
                div.panel-heading
                    h4.panel-title Parameterlist
                        a.text-right(data-toggle="collapse", data-parent="#accordion", href="#parameterListOne") 
                            span.glyphicon.glyphicon-collapse-down
                div.panel-collapse.collapse.out#parameterListOne
                    div.panel-body
                        table.table
                         thead
                            tr
                                th.col-xs-1 #
                                th.col-xs-3 Name
                                th.col-xs-8 Values
                         tbody
                          for parameter in skill.parameters                        
                            tr
                                td= parameter.id
                                td= parameter.name
                                td 
                                 +readWriteKeyup( '', '', '', '')
      div.row
        div.col-xs-12
            button.btn.btn-primary.btn-lg(type="button") Execute
        
        
        
        
        
            