// Progressbar using Bootstrap Components
mixin progressbar(value)
 div.progress(style='height: 100%')
  div.progress-bar.progress-bar-success(role='progressbar',aria-valuenow='#{value}',aria-valuemin='0',aria-valuemax='100',style='width:#{value}%')
   | #{value}%

// Read/Write Submit
mixin readWriteSubmitbla(readId, writeId)
    form.form-inline(role=form)
        div.form-group.has-success.has-feedback
            label.control-label.col-sm-3(for=readId) test
                div.col-sm-9
                    input.form-control(type="text", id=readId) 
                    span.glyphicon.glyphicon-ok.form-control-feedback
                    input(type="text", id=writeId)
//    <label class="control-label" for="inputSuccess4">Input with success</label>
//    <input type="text" class="form-control" id="inputSuccess4">


mixin nameReadWriteKeyup(name, readId, readEventName, writeId, submitEventName)
 form.form-horizontal(role="form")
  div.form-group.has-feedback
   label.control-label.col-xs-4.col-sm-3(for=readId)  #{name}
   div.col-xs-8.col-sm-3
    input.form-control(id=readId, type="text", disabled)
    span.glyphicon.glyphicon-eye-open.form-control-feedback
   div.col-xs-12.col-sm-3
    input.form-control(id=writeId, type="text", onKeyUp="socket.emit('"+submitEventName+"', {value: $('#"+writeId+"').val()})")
    span.glyphicon.glyphicon-pencil.form-control-feedback
    script socket.on('#{readEventName}', function(data){ $('##{readId}').val(data.value); });
    
mixin readWriteKeyup(readId, readEventName, writeId, submitEventName)
 form.form-horizontal(role="form")
  div.form-group.has-feedback
   div.col-sm-6
    input.form-control(id=readId, type="text", disabled)
    span.glyphicon.glyphicon-eye-open.form-control-feedback
   div.col-sm-6
    input.form-control(id=writeId, type="text", onKeyUp="socket.emit('"+submitEventName+"', {value: $('#"+writeId+"').val()})")
    span.glyphicon.glyphicon-pencil.form-control-feedback
    script socket.on('#{readEventName}', function(data){ $('##{readId}').val(data.value); });

// Input Field
mixin field(type, name, label)
  .field(class='field-' + type)
    label #{label}:
    input(type=type, name='user[#{name}]', value=user[name])
    

// Read
mixin read(name, readId, eventName)
    form.form-horizontal(role="form")
        div.form-group.has-feedback
            label.control-label.col-sm-4.col-xs-2(for=readId)  #{name}
            div.col-sm-5.col-xs-8
                input.form-control(id=readId, type="text", disabled)
                span.glyphicon.glyphicon-eye-open.form-control-feedback
            div.col-sm-3.col-xs-2.text-left
                button.btn.btn-default(type="button", onclick="socket.emit('"+eventName+"')")
                    span.glyphicon.glyphicon-refresh
                    
mixin moduleView(moduleData)
   div.col-xs-12
     h3 Module: #{moduleData.module[0].Name.value}
     div.container-fluid
        for skill in moduleData.skills
            div.row.well
                +skillView(skill)
        else
            div.row.well
                p There are no skills for this Module.
        

mixin scriptUpdateEventOnSocket(updateEvent, containerId)
   script socket.on('#{updateEvent}', function(data){ console.log(data); $('##{containerId}').text(data.value.value); });           

mixin executeButton(containerId, value)
    if value == 1
        input(id=containerId, value=value)
        button.btn.btn-primary.btn-lg(type="button") Execute
    else 
        button.btn.btn-default.btn-lg(type="button") Execute
        
mixin skillView(skill) 
      div.row
        div.col-xs-8
            h4 
             b Skill: 
             i(id=skill.Name.containerId)= skill.Name.value
             +scriptUpdateEventOnSocket(skill.Name.updateEvent, skill.Name.containerId)           
        div.col-xs-4
            h4 
             b ID: 
             span= skill.ID.value
      div.row
       div.col-xs-12
        div.col-xs-3.text-center.alert
            p Ready: 
            span(id=skill.Ready.containerId) #{skill.Ready.value}
            script socket.on('#{skill.Ready.updateEvent}', function(data){ console.log(data); $('##{skill.Ready.containerId}').text(data.value.value); });
        div.col-xs-3.text-center.alert
            p Busy: 
            span(id=skill.Busy.containerId) #{skill.Busy.value}
            script socket.on('#{skill.Busy.updateEvent}', function(data){ console.log(data); $('##{skill.Busy.containerId}').text(data.value.value); });
        div.col-xs-3.text-center.alert
            p Done:
            span(id=skill.Done.containerId) #{skill.Done.value}
            script socket.on('#{skill.Done.updateEvent}', function(data){ console.log(data); $('##{skill.Done.containerId}').text(data.value.value); });
        div.col-xs-3.text-center.alert
            p Error:
            span(id=skill.Error.containerId) #{skill.Error.value}
            script socket.on('#{skill.Error.updateEvent}', function(data){ console.log(data); $('##{skill.Error.containerId}').text(data.value.value); });
      div.row
        //div.panel.panel-default
        //    div.panel-heading Parameterlist
        //div.col-xs-12
        div.col-xs-12
         div.panel-group#parameterlist(style="padding: 0px")
            div.panel.panel-default
                div.panel-heading
                    h4.panel-title Parameterlist
                        a.text-right(data-toggle="collapse", data-parent="#accordion", href="#c"+skill.ID.containerId) 
                            span.glyphicon.glyphicon-collapse-down
                div.panel-collapse.collapse.out(id="c"+skill.ID.containerId)
                    div.panel-body
                        table.table
                         thead
                            tr
                                th.col-xs-1 #
                                th.col-xs-3 Name
                                th.col-xs-8 Values
                         tbody
                          if skill.parameters
                            for parameter in skill.parameters    
                                 tr
                                    td= parameter.ID.value
                                    td= parameter.Name.value
                                    td 
                                        span= parameter.MinValue.value
                                        span= parameter.Default.value
                                        span= parameter.MaxValue.value
                                        +readWriteKeyup( '', '', '', '')
      div.row
        div.col-xs-12
            //button.btn.btn-primary.btn-lg(type="button") Execute
            +executeButton(skill)
        

mixin userParameterInForm(defaultValue, minValue, maxValue)
        div.form-group.has-feedback
            div.col-xs-2
                span= minValue
            div.col-xs-8
                input.form-control(id="writeId", type="text", value=defaultValue, name="userparameter")
                span.glyphicon.glyphicon-pencil.form-control-feedback
            div.col-xs-2
                span= maxValue
                
    
        
            